---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main id="main-content">
      <h1>Hi, I'm Justin.</h1>
      <p>
        This is my personal web page. It was originally written before CSS was
        invented. Apologies for the plainness.
      </p>
      <p>
        Browse the <a href="/blog">blog</a> or find my <a href="/links"
          >social links</a
        >.
      </p>
    </main>
    <Footer />
  </body>
</html>
